html{
    background-color: ivory;
}
ul{
    list-style-type: none;
    margin:0;
    padding:0;
    background-color: rgba(221, 178, 221, 0.561);
    overflow: hidden;
}
li a{
    color: purple;
    padding: 20px;
    text-decoration: none;
    display: block;
}
li{
    float: left;
}
li a:hover{
    background-color: palevioletred;
}
h1{
    color: rgba(0, 195, 255, 0.876);
}
.gauche{
    float: left;
}
.clearB{
    clear: both;
}
